# Predicci√≥n de sentimientos

## Lectura y preprocesamiento

In [43]:
import pandas as pd

path_file = r"C:\Users\chccr\Dropbox\Maestr√≠a MCD\MCD Procesamiento y clasificaci√≥n de datos\Procesamiento-y-clasificaci-n-de-datos\HW2 Analisis de sentimientos\Hotel_Reviews.csv"
df = pd.read_csv(path_file)

df["Reviewer_Nationality"] = df["Reviewer_Nationality"].str.strip()
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

### Seleccion de atributos para el modelo

In [94]:
df_reduced = df.iloc[:,[3,6,7,9,10,11,12]].copy()
df_reduced

,Average_Score,Negative_Review,Review_Total_Negative_Word_Counts,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score
0,7.7,I am so angry that i made this post available...,397,Only the park outside of the hotel was beauti...,11,7,2.9
1,7.7,No Negative,0,No real complaints the hotel was great great ...,105,7,7.5
2,7.7,Rooms are nice but for elderly a bit difficul...,42,Location was good and staff were ok It is cut...,21,9,7.1
3,7.7,My room was dirty and I was afraid to walk ba...,210,Great location in nice surroundings the bar a...,26,1,3.8
4,7.7,You When I booked with your company on line y...,140,Amazing location and building Romantic setting,8,3,6.7
...,...,...,...,...,...,...,...
515733,8.1,no trolly or staff to help you take the lugga...,14,location,2,8,7.0
515734,8.1,The hotel looks like 3 but surely not 4,11,Breakfast was ok and we got earlier check in,11,12,5.8
515735,8.1,The ac was useless It was a hot week in vienn...,19,No Positive,0,3,2.5
515736,8.1,No Negative,0,The rooms are enormous and really comfortable...,25,3,8.8
515737,8.1,I was in 3rd floor It didn t work Free Wife,13,staff was very kind,6,1,8.3

### Formato de datos faltantes

In [95]:
df_reduced["Negative_Review"].mask(df_reduced["Negative_Review"] == "No Negative", "", inplace=True)
df_reduced["Positive_Review"].mask(df_reduced["Positive_Review"] == "No Positive", "", inplace=True)

In [96]:
print(df_reduced["Negative_Review"][df_reduced["Negative_Review"] == "No Negative"].shape)
print(df_reduced["Positive_Review"][df_reduced["Positive_Review"] == "No Positive"].shape)

(0,)
(0,)

### Union de rese√±as positivas y negativas

In [97]:
df_reduced["Full_Review"] = df_reduced["Negative_Review"] + df_reduced["Positive_Review"]
df_reduced.drop(["Negative_Review", "Positive_Review"], axis=1, inplace=True)

In [98]:
df_reduced.head()

,Average_Score,Review_Total_Negative_Word_Counts,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Full_Review
0,7.7,397,11,7,2.9,I am so angry that i made this post available...
1,7.7,0,105,7,7.5,No real complaints the hotel was great great ...
2,7.7,42,21,9,7.1,Rooms are nice but for elderly a bit difficul...
3,7.7,210,26,1,3.8,My room was dirty and I was afraid to walk ba...
4,7.7,140,8,3,6.7,You When I booked with your company on line y...

### Etiquetado de rese√±as

In [99]:
def label_score(score):
    if score > 7.0:
        return "Positive"
    elif score <= 7.0:
        return "Negative"
    else:
        return "No label"

In [100]:
df_reduced["label"] = df_reduced["Reviewer_Score"].apply(label_score)
df_reduced.drop("Reviewer_Score",axis=1,inplace=True)
df_reduced

,Average_Score,Review_Total_Negative_Word_Counts,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Full_Review,label
0,7.7,397,11,7,I am so angry that i made this post available...,Negative
1,7.7,0,105,7,No real complaints the hotel was great great ...,Positive
2,7.7,42,21,9,Rooms are nice but for elderly a bit difficul...,Positive
3,7.7,210,26,1,My room was dirty and I was afraid to walk ba...,Negative
4,7.7,140,8,3,You When I booked with your company on line y...,Negative
...,...,...,...,...,...,...
515733,8.1,14,2,8,no trolly or staff to help you take the lugga...,Negative
515734,8.1,11,11,12,The hotel looks like 3 but surely not 4 Brea...,Negative
515735,8.1,19,0,3,The ac was useless It was a hot week in vienn...,Negative
515736,8.1,0,25,3,The rooms are enormous and really comfortable...,Positive
515737,8.1,13,6,1,I was in 3rd floor It didn t work Free Wife ...,Positive

### Procesamiento de palabras

In [101]:
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
import nltk

nltk.download('stopwords')

stop = set(stopwords.words('english'))
snow = SnowballStemmer("english")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\chccr\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [102]:
import re
def preprocesamiento_words(texto):
    """Preprocesamiento de palabras, retorna un listado de palabras con contexto.
    Retorna
    
    >>> Lista de palabras"""

    # Palabras a minusculas
    texto = texto.lower()
    # Eliminaci√≥n de p√°ginas web (palabras que empiezan por "http")
    texto = re.sub('http\S+', ' ', texto)
    # Removing Punctuations u otros caracteres
    texto = re.sub(r'[¬ø|?|!|\'|\"|#|:|‚Äú|‚Äù|_*]', r' ', texto)
    texto = re.sub(r'[.|,|)|(|\|/|\**|\-*]', r' ', texto)
    texto = re.sub(r'[\$\%\&\+\.\;\<\=\>\@\[\]\^_\`\{\|\}\~]', r' ', texto)
    # Eliminaci√≥n de n√∫meros
    texto = re.sub("\d+", ' ', texto)
    # Normaliza los espacios
    texto = re.sub(r' +', r' ', texto)

    # Separa oracion en palabras, remueve stopwords
    words = [snow.stem(word) for word in texto.split() if word not in stop]
    return words

In [103]:
list_words = df_reduced["Full_Review"].apply(preprocesamiento_words)

In [104]:
list_text = list_words.apply(" ".join)
list_text

0         angri made post avail via possibl site use pla...
1         real complaint hotel great great locat surroun...
2         room nice elder bit difficult room two stori n...
3         room dirti afraid walk barefoot floor look cle...
4         book compani line show pictur room thought get...
                                ...
515733             trolli staff help take luggag room locat
515734    hotel look like sure breakfast ok got earlier ...
515735              ac useless hot week vienna gave hot air
515736    room enorm realli comfort believ famili member...
515737                   rd floor work free wife staff kind
Name: Full_Review, Length: 515738, dtype: object

### Atributos Dummy

In [105]:
from sklearn.feature_extraction.text import CountVectorizer

#Funci√≥n tokenization
def tokenization(data, features=500):
  count_vect = CountVectorizer(max_features=features)
  count_matrix = count_vect.fit_transform(data)
  count_array = count_matrix.toarray()
  tokens = pd.DataFrame(
      data=count_array, columns=count_vect.get_feature_names())
  voca = count_vect.vocabulary_
  return (tokens, voca)

In [106]:
tokens, voca = tokenization(list_text)

c:\Users\chccr\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [107]:
tokens.head(5)

,abl,absolut,access,accommod,across,actual,air,airport,allow,almost,...,wifi,window,wine,within,without,wonder,work,worth,would,year
0,1,0,0,0,0,0,0,0,0,0,...,0,3,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Forma final de datos

In [108]:
data = df_reduced.merge(tokens,how="left",left_index=True,right_index=True)
data.drop("Full_Review", axis=1, inplace=True)
data

,Average_Score,Review_Total_Negative_Word_Counts,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,label,abl,absolut,access,accommod,across,...,wifi,window,wine,within,without,wonder,work,worth,would,year
0,7.7,397,11,7,Negative,1,0,0,0,0,...,0,3,0,0,0,1,0,0,1,0
1,7.7,0,105,7,Positive,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,7.7,42,21,9,Positive,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7.7,210,26,1,Negative,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7.7,140,8,3,Negative,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,8.1,14,2,8,Negative,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
515734,8.1,11,11,12,Negative,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
515735,8.1,19,0,3,Negative,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
515736,8.1,0,25,3,Positive,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
515737,8.1,13,6,1,Positive,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

## Datos del modelo

### Variable y (etiqueta)

In [127]:
from sklearn.preprocessing import label_binarize

y = label_binarize(df_reduced["label"], classes=["Negative","Positive"])
y = y.T[0]

### Datos de entrada (caracteristicas)

In [113]:
X = data.drop("label",axis=1)

In [128]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20)

In [129]:
pd.DataFrame([len(X), len(X_train), len(X_test)],
             index=['Total', 'Train', 'Test'],
             columns=['Size'])

         Size
Total  515738
Train  412590
Test   103148

In [130]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [131]:
import numpy as np
train_sizes_fraction = np.arange(0.1, 0.85, 0.05)
train_sizes = np.array(train_sizes_fraction*len(y_train)).astype(int)
print('Train sizes')
print(train_sizes)

Train sizes
[ 41259  61888  82518 103147 123777 144406 165036 185665 206295 226924
 247554 268183 288813 309442 330072]

In [132]:
from sklearn.model_selection import learning_curve

train_sizes, train_scores, valid_scores = learning_curve(
    gnb, X_train, y_train, train_sizes=train_sizes.astype(int), cv=5, scoring='f1')

In [ ]:
cv_results = pd.DataFrame([np.round(train_sizes), np.mean(train_scores, axis=1), np.mean(valid_scores, axis=1)],
                          index=['Training size', 'Training F1-score', 'CV F1-score']).T
cv_results = cv_results.sort_values(by='CV F1-score', ascending=False)
cv_results

In [ ]:
plt.figure(figsize=(10, 10))
plt.style.use('bmh')
plt.plot(train_sizes, np.mean(train_scores, axis=1),
         '-o', label='Training score',)
plt.plot(train_sizes, np.mean(valid_scores, axis=1),
         '-o', label='Cross-validation score')
plt.ylim((0.5, 1))
plt.legend(loc=4, frameon=True)
plt.xlabel('Training size')
plt.ylabel('F1-Score')
plt.title('Gaussian Naive Bayes')

In [ ]:
from sklearn.metrics import f1_score
gnb.fit(X_train, y_train)
print('GNB score: ', f1_score(y_test, gnb.predict(X_test)))

In [ ]:
iterat = np.arange(200, 2001, 200)
best_models = np.zeros((len(iterat), 4))
counter = 0

plt.figure(figsize=(20, 10))
plt.style.use('bmh')

for n_features in iterat:
  #Cross-Validation for n features
  print('\r{}/{}'.format(counter+1, len(iterat)), end='')
  (train_sizes, train_scores, valid_scores,
   fit_time, score_time) = learning_curve(gnb, X_train.iloc[:, 0:n_features],
                                          y_train, train_sizes=train_sizes.astype(
       int),
      cv=5, scoring='f1', return_times=True)

  cv_results = pd.DataFrame([np.round(train_sizes), np.mean(train_scores, axis=1),
                             np.mean(valid_scores, axis=1), np.mean(
      fit_time, axis=1),
      np.mean(score_time, axis=1)],
      index=['Training size', 'Training scores', 'CV scores', 'Fit time', 'Score time']).T
  #Learning curves
  plt.subplot(2, 5, counter+1)
  plt.plot(train_sizes, np.mean(train_scores, axis=1),
           '-o', label='Training score',)
  plt.plot(train_sizes, np.mean(valid_scores, axis=1),
           '-o', label='Cross-validation score')
  plt.ylim((0.5, 1))
  plt.legend(loc=4, frameon=True)
  plt.xlabel('Training size')
  plt.ylabel('F1-Score')
  plt.title('Features: {}'.format(n_features))

  #Extract best CV Score
  best_models[counter, 0] = n_features
  best_models[counter, 1] = cv_results[cv_results['CV scores']
                                       == cv_results['CV scores'].max()]['CV scores']
  best_models[counter, 2] = cv_results[cv_results['CV scores']
                                       == cv_results['CV scores'].max()]['Fit time']
  best_models[counter, 3] = cv_results[cv_results['CV scores']
                                       == cv_results['CV scores'].max()]['Score time']
  counter += 1

In [ ]:
best_models = pd.DataFrame(best_models,
                           columns=['Features', 'CV F1-scores', 'Fit time', 'Score time'])
best_models

In [ ]:
plt.figure(figsize=(10, 5))
plt.subplot(1, 2, 1)
plt.plot(best_models['Features'], best_models['CV F1-scores'], '-o')
plt.xlabel('Features')
plt.ylabel('CV F1-Score')

plt.subplot(1, 2, 2)
plt.plot(best_models['Features'], best_models['Fit time'], '-o')
plt.xlabel('Features')
plt.ylabel('Fit time')

In [ ]:
#Training size for best model
X_subtrain, X_cv, y_subtrain, y_cv = train_test_split(
    X_train, y_train, train_size=0.8)

In [ ]:
pd.DataFrame([len(X_train), len(X_subtrain), len(X_cv)],
             index=['Total', 'Train', 'Test'],
             columns=['Size'])

In [ ]:
gnb.fit(X_subtrain, y_subtrain)

In [ ]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [ ]:
print('y-test size: {}'.format(len(y_test)))
print('Ham: {}'.format(len(y_test)-sum(y_test)))
print('Spam: {}'.format(sum(y_test)))

In [ ]:
gnb.fit(X_train, y_train)

In [ ]:
predictions = gnb.predict(X_test)

In [ ]:
cm = confusion_matrix(y_test, predictions, labels=gnb.classes_)
disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=gnb.classes_)
disp.plot()
plt.show()

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print('Metrics for best model')
print('Accuracy: {:.2f}%'.format(accuracy_score(y_test, predictions)*100))
print('Precision: {:.2f}%'.format(precision_score(y_test, predictions)*100))
print('Recall: {:.2f}%'.format(recall_score(y_test, predictions)*100))
print('F1 score: {:.2f}%'.format(f1_score(y_test, predictions)*100))

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions, target_names=['ham', 'spam']))